@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap');
@import url('https://fonts.cdnfonts.com/css/futura-lt');


body{
    text-align: center;
 }
 a{
    color: rgb(33, 32, 32);
    line-height: normal;
 
 }

 img{
   height: 70px; 
   width: 50px;
   position: relative;
  
}

#first-line{
   font-family: 'Futura LT', Arial, Helvetica, sans-serif;
   font-weight: normal;
   font-weight: normal;

 } 

 .links{  
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    color: rgb(47,46,46);
    font-family: 'Futura LT', Arial, Helvetica, sans-serif;
 }

 div h3{font-family: 'Futura LT', Arial, Helvetica, sans-serif;}

 .new a{ 
   line-height: normal; 
   text-decoration: underline;
   font-family: 'Futura LT', Arial, Helvetica, sans-serif;}

 .news1{
    margin-top: 100px;
    Font-size: 36px;
    Font-weight: 400;
    Line-height: normal;
    color: rgb(86, 142, 191);
    font-family: 'Futura LT', Arial, Helvetica, sans-serif;
 
 }
 .news2{
    color: rgb(255, 255, 255);
    font-size: 36px;
    font-weight: 400;
    line-height: normal;
    padding-top: 30px;
    font-family: 'Futura LT', Arial, Helvetica, sans-serif;
 }
 
 
 .image1{
    margin-top: 3px;
 }
 .ISSUE1{
 Font-size: 16px;
 Font-weight: 400;
 Line-height: 22.4px;
 color: rgb(255, 255, 255);
 background-color:rgb(86, 142, 191)  ;
 height: 4vh;
 width: 4vw;
 margin-top: 1px;
 margin-left: auto;
 margin-right: auto;
 padding-right: 10px;
 padding-left: 10px;
 
 
 }

 .ISSUE1:hover{background-color: grey;}
 .newsletter1{
    height: 45vh;
    background-color: rgb(154,185,212);
    /* display: flex; */
 }
 .news2{
    color: rgb(255, 255, 255);
    /* padding: px; */
    margin-left: auto;
    margin-right: auto;
 }
 .pic1-issues{
    Font-size: 16px;
 Font-weight: 400;
 Line-height: 22.4px;
 color: rgb(255, 255, 255);
 background-color: rgb(32,67,98) ;
 height: 4vh;
 width: 4vw;
 margin-left: auto;
 margin-right: auto;
 margin-top: 1px;
 padding-right: 10px;
 padding-left: 10px;
 
 
 }
 .pic1-issues:hover{background-color: grey;}
a {text-decoration: none;}
 
 
 .row{
    display: flex;
    justify-content: center;
    /* padding: 10px; */
 }
 .pic1{
    padding: 20px;
 }
 .pic2{
    padding: 20px;
 }
 .pic3{
    padding: 20px;
 }
 .pic4{
    padding: 20px;
 }

 .pic1-issues {font-family: 'Futura LT', Arial, Helvetica, sans-serif; }
 /* div a {text-decoration: none;} */
 .ISSUE1{font-family: 'Futura LT', Arial, Helvetica, sans-serif;}