
.imagediv{
    height: 400px;
    width: 100%;
    background-image: url(../Images/homeimage.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.news{
    text-align: center;
    color: rgb(225, 225, 225);
   padding-top: 150px;
   font-size: 53px;
   font-weight: 400;}


.button-container{
    padding-top: 100px;
    padding-left: 300px; }


.button{
    padding-top: 10px;
    padding-bottom: 40px;
    border: none;
    background-color: rgb(3,76, 140) ;
    width: 330px;
    height: 60px;
    margin-left: 50px;
    cursor: pointer;
    box-sizing: border-box;
    box-shadow: 2px 12px 15px rgba(0, 0, 0, 0.8);
    border-radius: 15px 0 15px 0;}
    


.button:hover{
    background-color: rgb(49, 51, 52);
    color: white;
    box-shadow: 6px 19px 10px rgb(68, 68, 75)}


button a{
    text-decoration: none;
    color: white;
    font-size: 25px;
   /* font-weight: 300; */
   font-family: 'Times New Roman', Times, serif;
   }